{
  "openapi": "3.0.3",
  "info": {
    "title": "CEXY API",
    "description": "REST API for a cryptocurrency exchange.\n\n## Conventions\n\n**Amounts are strings.** Every monetary value is a decimal string such as `\"1.50000000\"`,\nnever a JSON number. A JSON number is parsed into an IEEE-754 double by most clients,\nwhich cannot represent `0.1` exactly \u2014 so a number would silently corrupt balances.\nParse them with a decimal library, not a float.\n\n**Errors have machine-readable codes.** Every failure returns\n`{\"error\": {\"code\", \"message\", \"details\", \"request_id\", \"retryable\"}}`. Branch on\n`code`, never on `message`, which may change. `retryable` says whether an identical\nretry could succeed.\n\n**Two-factor is mandatory.** Registration cannot complete without enrolling an\nauthenticator, and a correct password alone never returns a session. Sensitive actions\nadditionally require a *recently* verified code \u2014 call\n`POST /account/security/two-factor/verify` to refresh the window.\n\n**Pagination.** Histories use opaque cursors: pass `next_cursor` back as `cursor`. They\ncarry no `total`, because counting an ever-growing collection on every page is a full\nscan and the number is stale before it renders. Catalogues use offsets and do include a\ntotal.\n\n**Idempotency.** The operations that move money out of an order book honour an\n`Idempotency-Key` header, and declare it: `POST /wallet/withdrawals`,\n`POST /account/transfers`, `POST /account/sub-accounts/{id}/transfer`,\n`POST /futures/transfers`, `POST /futures/transfers/return`, and\njoining and leaving a pool. A retry with the same key and body replays the original\nresponse; the same key with a *different* body is rejected with `IDEMPOTENCY_KEY_CONFLICT`.\nOrders do not take the header: set `client_order_id`, which is unique per account, and look\nan order up by it after a timeout. Cancelling is naturally safe to repeat.\n\n**Rate limits.** Responses carry `X-RateLimit-Limit`, `X-RateLimit-Remaining` and\n`X-RateLimit-Reset`, the seconds until the window resets. A request without credentials\ncounts against its IP address: 120 a minute. A signed-in session counts against its\naccount and an API key against the key: 600 a minute each. A `429` carries\n`retry_after_seconds` in the error's `details`, and `Retry-After`.\n\n**WebSocket.** `/api/v1/ws` carries every realtime channel on one connection. Every client\nmessage with an `id` is answered with that `id`: `authenticated` (with `user_id`),\n`subscribed`, `unsubscribed`, `pong`, or `error` with a `code` and `message`. Private\nchannels need an `auth` frame carrying a session access token first; API keys do not open\nthem. An `orderbook.update` carries the top 50 levels of both sides in full and replaces the\nprevious book.",
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/license/mit"
    },
    "version": "1.0.0"
  },
  "tags": [
    {
      "name": "public",
      "description": "Market data and configuration. No authentication."
    },
    {
      "name": "auth",
      "description": "Registration and sign-in. Two-factor is mandatory."
    },
    {
      "name": "account",
      "description": "Profile, balances, ledger and security settings."
    },
    {
      "name": "trading",
      "description": "Placing, cancelling and reviewing orders."
    },
    {
      "name": "wallet",
      "description": "Deposits, withdrawals and the address book."
    },
    {
      "name": "exports",
      "description": "Bounded CSV exports of account history."
    },
    {
      "name": "aggregators",
      "description": "Market data in the formats CoinMarketCap and CoinGecko ingest. These follow the aggregators' conventions rather than this API's \u2014 notably, CoinMarketCap's feed sends JSON numbers where the rest of the API sends decimal strings."
    },
    {
      "name": "udf",
      "description": "A TradingView UDF datafeed. Point the charting library at /api/v1/udf. Like the aggregator feeds, this follows TradingView's conventions rather than this API's: OHLCV arrives as parallel arrays of JSON numbers, and `s` is a status string rather than an HTTP code."
    }
  ],
  "servers": [
    {
      "url": "https://api.cexy.io",
      "description": "CEXY.io production"
    }
  ],
  "paths": {
    "/api/v1/account/api-keys": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "The account's API keys.",
        "operationId": "list_api_keys",
        "responses": {
          "200": {
            "description": "The account's keys, without secrets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKeyResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/balances": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "Balances across every asset the account holds.",
        "description": "Zero balances are omitted; ask for one by symbol to see it explicitly.",
        "operationId": "list_balances",
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalanceResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/balances/{asset}": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "One asset's balance, including a zero one.",
        "operationId": "get_balance",
        "parameters": [
          {
            "name": "asset",
            "in": "path",
            "description": "Asset symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "The balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/BalanceResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/id": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "The id of the account the credential belongs to.",
        "description": "The same id the realtime `authenticated` reply carries, so a client holding both an API key and a session can check they are one account before merging what each shows. For a sub-account's key, the sub-account's own id. Nothing else about the account: a key with read scope has no business with its owner's email address.",
        "operationId": "get_account_id",
        "responses": {
          "200": {
            "description": "The account id",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AccountIdResponse"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "No credential, or one not valid",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "An API key without `read` scope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/ledger": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "The account's ledger \u2014 every balance change, with its cause.",
        "operationId": "get_ledger",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "Limit to one asset.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LedgerEntryResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/notifications": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "The account's notices, newest first.",
        "operationId": "list_notifications",
        "parameters": [
          {
            "name": "unread_only",
            "in": "query",
            "description": "Return only notices that have not been read.",
            "required": false,
            "schema": {
              "type": "boolean",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notices, newest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NotificationResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/sub-accounts": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "This account's sub-accounts.",
        "operationId": "list_sub_accounts",
        "responses": {
          "200": {
            "description": "Sub-accounts, oldest first",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SubAccountResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/account/sub-accounts/{id}/balances": {
      "get": {
        "tags": [
          "account"
        ],
        "summary": "A sub-account's balances, for its parent.",
        "description": "The same shape as `/account/balances`, zero balances omitted: what the sub-account holds, so its funds can be shown and moved back. Only the parent may read it; any id that is not one of the caller's sub-accounts is not found.",
        "operationId": "sub_account_balances",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Sub-account id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The sub-account's balances",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BalanceResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Malformed sub-account id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No such sub-account on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/assets": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Every listed asset, with its networks.",
        "operationId": "list_assets",
        "responses": {
          "200": {
            "description": "Listed assets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AssetResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/assets/{symbol}": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "One asset and its networks.",
        "operationId": "get_asset",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Asset symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC"
          }
        ],
        "responses": {
          "200": {
            "description": "The asset",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AssetResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such asset",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/config": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Public exchange configuration.",
        "description": "Everything a frontend needs to render itself: branding, limits, supported intervals and maintenance state.",
        "operationId": "exchange_config",
        "responses": {
          "200": {
            "description": "Exchange configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExchangeConfigResponse"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/exports/deposits": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Exports the caller's deposits as CSV.",
        "operationId": "export_deposits",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the period, inclusive. Defaults to 30 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the period, inclusive. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV of deposits. Columns: deposit_id, time, asset, network, amount, status, txid, output_index, confirmations",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/exports/ledger": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Exports the caller's ledger as CSV.",
        "description": "The complete accounting record: every balance change with its cause.",
        "operationId": "export_ledger",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the period, inclusive. Defaults to 30 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the period, inclusive. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV of ledger entries. Columns: entry_id, time, asset, kind, available_delta, locked_delta, pending_delta, available_after, sequence, reference",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/exports/orders": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Exports the caller's orders as CSV.",
        "operationId": "export_orders",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the period, inclusive. Defaults to 30 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the period, inclusive. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV of orders. Columns: order_id, client_order_id, time, market, side, type, status, price, quantity, filled_quantity, filled_quote_quantity, fee_paid",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The date range is invalid or too wide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/exports/trades": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Exports the caller's trades as CSV.",
        "operationId": "export_trades",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the period, inclusive. Defaults to 30 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the period, inclusive. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV of executed trades. Columns: trade_id, time, market, side, role, price, quantity, quote_quantity, fee, fee_asset",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "The date range is invalid or too wide",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/exports/withdrawals": {
      "get": {
        "tags": [
          "exports"
        ],
        "summary": "Exports the caller's withdrawals as CSV.",
        "operationId": "export_withdrawals",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "Start of the period, inclusive. Defaults to 30 days ago.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "End of the period, inclusive. Defaults to now.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CSV of withdrawals. Columns: withdrawal_id, time, asset, network, amount, fee, fee_asset, status, address, txid",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/fees": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "The fee schedule.",
        "operationId": "list_fee_schedules",
        "responses": {
          "200": {
            "description": "Fee tiers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FeeScheduleResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/markets": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Every visible market with its ticker.",
        "operationId": "list_markets",
        "responses": {
          "200": {
            "description": "Markets",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MarketResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/markets/{symbol}": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "One market.",
        "operationId": "get_market",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          }
        ],
        "responses": {
          "200": {
            "description": "The market",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MarketResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/markets/{symbol}/candles": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "OHLCV candles.",
        "operationId": "get_candles",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Bucket width.",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CandleInterval"
            }
          },
          {
            "name": "start_time",
            "in": "query",
            "description": "Earliest bucket to return.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "end_time",
            "in": "query",
            "description": "Latest bucket to return.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum buckets. Capped server-side.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 500,
              "nullable": true,
              "maximum": 1000,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Candles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CandleResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/markets/{symbol}/orderbook": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Aggregated order book.",
        "operationId": "get_order_book",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          },
          {
            "name": "depth",
            "in": "query",
            "description": "Price levels per side. Capped server-side.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order book",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderBookResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/markets/{symbol}/trades": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "A market's recent trades.",
        "operationId": "get_market_trades",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Recent trades",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PublicTradeResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/networks": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Every configured network.",
        "operationId": "list_networks",
        "responses": {
          "200": {
            "description": "Networks",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/NetworkResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/pools": {
      "get": {
        "tags": [
          "pools"
        ],
        "summary": "Every pool and what it holds.",
        "operationId": "list_pools",
        "responses": {
          "200": {
            "description": "Liquidity pools",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PoolResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/pools/{symbol}": {
      "get": {
        "tags": [
          "pools"
        ],
        "summary": "One market's pool.",
        "operationId": "get_pool",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          }
        ],
        "responses": {
          "200": {
            "description": "The pool",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PoolResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No pool for that market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/pools/{symbol}/exit": {
      "post": {
        "tags": [
          "pools"
        ],
        "summary": "Removes liquidity.",
        "description": "The pool's resting orders for the market are cancelled first, because reserves locked in an order cannot be paid out. Shares are burned and a proportional slice of both assets is returned.",
        "operationId": "exit_pool",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Makes a retry safe",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExitPoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Liquidity removed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ExitPoolResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "More shares than the account holds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No pool, or no position in it",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The idempotency key was reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "trade"
      }
    },
    "/api/v1/pools/{symbol}/join": {
      "post": {
        "tags": [
          "pools"
        ],
        "summary": "Adds liquidity.",
        "description": "Both assets are taken, in the ratio the pool already holds \u2014 only the quote that ratio requires is debited, however much is offered. The first join into an empty pool sets the price, and is refused if it strays far from the market's last traded price.\n\nSend `Idempotency-Key` so a timed-out request can be retried without adding liquidity twice.",
        "operationId": "join_pool",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "description": "Market symbol",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC/USDT"
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Makes a retry safe",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinPoolRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Liquidity added",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/JoinPoolResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The amounts or the implied price were refused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "No pool for that market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The idempotency key was reused with a different body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient funds",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "trade"
      }
    },
    "/api/v1/time": {
      "get": {
        "tags": [
          "public"
        ],
        "summary": "Server time, so a client can detect clock skew before it breaks two-factor.",
        "operationId": "server_time",
        "responses": {
          "200": {
            "description": "Server time",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ServerTimeResponse"
                    }
                  }
                }
              }
            }
          }
        },
        "x-required-scope": "-",
        "security": []
      }
    },
    "/api/v1/trading/orders": {
      "get": {
        "tags": [
          "trading"
        ],
        "summary": "Open orders, newest first.",
        "operationId": "list_open_orders",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Limit to one market.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Limit to one status.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open orders",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      },
      "post": {
        "tags": [
          "trading"
        ],
        "summary": "Places an order.",
        "description": "Funds are reserved before the order reaches the book, so a matched order can never be unfunded. On a buy the reservation covers the value plus the **taker** fee, which is the worst case \u2014 a maker fill releases the difference.\n\nSet `client_order_id` to make a retry safe: it is unique per account, so a repeat is refused before any funds move, and `GET /trading/orders/by-client-id/{client_order_id}` recovers the outcome. `Idempotency-Key` is not honoured here.",
        "operationId": "place_order",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Order accepted, with any immediate fills",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PlaceOrderResponse"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "The order failed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "That client order id is already in use",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Insufficient funds, or the market is unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "503": {
            "description": "The market is saturated; retry shortly",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "trade"
      }
    },
    "/api/v1/trading/orders/by-client-id/{client_order_id}": {
      "get": {
        "tags": [
          "trading"
        ],
        "summary": "One order, looked up by the id the client supplied.",
        "operationId": "get_order_by_client_id",
        "parameters": [
          {
            "name": "client_order_id",
            "in": "path",
            "description": "Your identifier",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such order on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/trading/orders/cancel-all": {
      "post": {
        "tags": [
          "trading"
        ],
        "summary": "Cancels every open order, and every stop order that has not triggered, optionally within",
        "description": "one market.\n\nBest-effort: a failure on one order does not stop the rest, and every outcome is reported. A panic-button endpoint that stops at the first problem is worse than useless. A stop waiting for its trigger (`pending_trigger`) is cancelled too and its reservation released, so nothing fires into the market after the call.\n\nAn order still being placed when the call starts (status `pending`, for as long as its own placement request runs) is waited for, up to 500 ms per call in total: cancelled if it opens, reported in `already_closed` if it fills or is refused, and in `failed` with code `INVALID_STATE` if it is still being placed at the deadline. Orders placed after the call starts are not part of it. At most 500 orders per call; `has_more` says there are others.\n\nLimited to 30 calls a minute per account, on top of the general request limit.",
        "operationId": "cancel_all",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelAllRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "What was cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CancelAllResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such market",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Over 30 calls a minute for this account; `details.retry_after_seconds` says when to retry",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "trade"
      }
    },
    "/api/v1/trading/orders/history": {
      "get": {
        "tags": [
          "trading"
        ],
        "summary": "Order history, including terminal orders.",
        "operationId": "order_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Limit to one market.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Limit to one status.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/OrderStatus"
                }
              ],
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OrderResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/trading/orders/{order_id}": {
      "get": {
        "tags": [
          "trading"
        ],
        "summary": "One order.",
        "operationId": "get_order",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such order on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      },
      "delete": {
        "tags": [
          "trading"
        ],
        "summary": "Cancels an order, releasing only what is still reserved.",
        "operationId": "cancel_order",
        "parameters": [
          {
            "name": "order_id",
            "in": "path",
            "description": "Order id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancelled",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/OrderResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such order on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The order is no longer open",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "trade"
      }
    },
    "/api/v1/trading/trades": {
      "get": {
        "tags": [
          "trading"
        ],
        "summary": "The caller's executions.",
        "operationId": "trade_history",
        "parameters": [
          {
            "name": "symbol",
            "in": "query",
            "description": "Limit to one market.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Trade history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FillResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/wallet/deposit-address": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "The caller's deposit address for an asset on a network.",
        "description": "The first call for an asset and network creates the address; every later call, and any call racing the first, returns that same address. On chains where an address works across sibling networks, the account's address from a sibling is reused.",
        "operationId": "deposit_address",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "Asset symbol.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "BTC"
          },
          {
            "name": "network",
            "in": "query",
            "description": "Network code.",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "bitcoin-mainnet"
          }
        ],
        "responses": {
          "200": {
            "description": "The deposit address",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DepositAddressResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such asset or network",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Deposits are disabled for this pairing",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read",
        "x-side-effect": "creates_address"
      }
    },
    "/api/v1/wallet/deposits": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "Deposit history.",
        "operationId": "list_deposits",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "Limit to one asset.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deposits",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DepositResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/wallet/deposits/{deposit_id}": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "One deposit.",
        "operationId": "get_deposit",
        "parameters": [
          {
            "name": "deposit_id",
            "in": "path",
            "description": "Deposit id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The deposit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DepositResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such deposit on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/wallet/withdrawal-addresses": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "The caller's saved withdrawal addresses.",
        "operationId": "list_withdrawal_addresses",
        "responses": {
          "200": {
            "description": "Saved addresses",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WithdrawalAddressResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/wallet/withdrawals": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "Withdrawal history.",
        "operationId": "list_withdrawals",
        "parameters": [
          {
            "name": "asset",
            "in": "query",
            "description": "Limit to one asset.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Opaque cursor from a previous response's `next_cursor`. Omit for the first page.",
            "required": false,
            "schema": {
              "type": "string",
              "nullable": true
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum items to return. Clamped to `MAX_LIMIT`.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50,
              "nullable": true,
              "maximum": 500,
              "minimum": 1
            }
          },
          {
            "name": "direction",
            "in": "query",
            "description": "Sort direction. Defaults to newest-first.",
            "required": false,
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SortDirection"
                }
              ],
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Withdrawals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "items",
                    "has_more"
                  ],
                  "properties": {
                    "has_more": {
                      "type": "boolean",
                      "description": "Whether another page exists. Equivalent to `next_cursor` being present."
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WithdrawalResponse"
                      },
                      "description": "The page of items, in the requested direction."
                    },
                    "next_cursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page; pass it back as `cursor`. Omitted on the last page."
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    },
    "/api/v1/wallet/withdrawals/{withdrawal_id}": {
      "get": {
        "tags": [
          "wallet"
        ],
        "summary": "One withdrawal, with its full status history.",
        "operationId": "get_withdrawal",
        "parameters": [
          {
            "name": "withdrawal_id",
            "in": "path",
            "description": "Withdrawal id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The withdrawal",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "data"
                  ],
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WithdrawalResponse"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "No such withdrawal on this account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "api_key": [],
            "api_secret": []
          }
        ],
        "x-required-scope": "read"
      }
    }
  },
  "components": {
    "schemas": {
      "AccountIdResponse": {
        "type": "object",
        "description": "The id of the account a credential belongs to, and nothing else.",
        "required": [
          "user_id"
        ],
        "properties": {
          "user_id": {
            "type": "string",
            "description": "Account id: the same hex as the realtime `authenticated` reply's `user_id`."
          }
        }
      },
      "Amount": {
        "type": "string",
        "description": "Exact decimal amount, serialized as a string to avoid floating-point precision loss. Example: \"1.50000000\".",
        "example": "1.50000000",
        "pattern": "^-?\\d+(\\.\\d+)?$"
      },
      "ApiKeyResponse": {
        "type": "object",
        "description": "An existing key. Never carries the secret.",
        "required": [
          "id",
          "key_id",
          "label",
          "scopes",
          "allowed_ips",
          "revoked",
          "created_at"
        ],
        "properties": {
          "allowed_ips": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Permitted source addresses. Empty means unrestricted."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it was created."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it stops working.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "Opaque key identifier, used to revoke it."
          },
          "key_id": {
            "type": "string",
            "description": "The public key id, sent as `X-API-Key`."
          },
          "label": {
            "type": "string",
            "description": "Human label."
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it was last used, if ever.",
            "nullable": true
          },
          "revoked": {
            "type": "boolean",
            "description": "Whether it has been revoked."
          },
          "scopes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiScope"
            },
            "description": "Granted scopes."
          }
        }
      },
      "ApiScope": {
        "type": "string",
        "description": "Scope attached to an API key.\n\n Scopes narrow what an API key may do. They apply to API keys only: a signed-in session carries none and is not limited by them.",
        "enum": [
          "read",
          "trade"
        ]
      },
      "AssetNetworkResponse": {
        "type": "object",
        "description": "An asset's policy on one network.",
        "required": [
          "network",
          "network_name",
          "token_kind",
          "deposit_enabled",
          "withdrawal_enabled",
          "deposit_confirmations",
          "min_deposit",
          "min_withdrawal",
          "withdrawal_fee",
          "withdrawal_fee_asset",
          "withdrawal_decimals",
          "memo_supported",
          "memo_required"
        ],
        "properties": {
          "contract_address": {
            "type": "string",
            "description": "Contract address or chain asset id, for a token.",
            "nullable": true
          },
          "deposit_confirmations": {
            "type": "integer",
            "format": "int32",
            "description": "Confirmations before a deposit is credited.",
            "minimum": 0
          },
          "deposit_enabled": {
            "type": "boolean",
            "description": "Whether deposits are accepted."
          },
          "maintenance": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MaintenanceState"
              }
            ],
            "nullable": true
          },
          "max_withdrawal": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Amount"
              }
            ],
            "nullable": true
          },
          "memo_label": {
            "type": "string",
            "description": "What to call the memo field in a UI.",
            "nullable": true
          },
          "memo_required": {
            "type": "boolean",
            "description": "Whether a memo is mandatory."
          },
          "memo_supported": {
            "type": "boolean",
            "description": "Whether the network uses a memo / destination tag."
          },
          "min_deposit": {
            "$ref": "#/components/schemas/Amount"
          },
          "min_withdrawal": {
            "$ref": "#/components/schemas/Amount"
          },
          "network": {
            "type": "string",
            "description": "Network code.",
            "example": "bitcoin-mainnet"
          },
          "network_name": {
            "type": "string",
            "description": "Network display name."
          },
          "notice": {
            "type": "string",
            "description": "Operator note.",
            "nullable": true
          },
          "token_kind": {
            "type": "string",
            "description": "How the asset exists on this chain."
          },
          "withdrawal_decimals": {
            "type": "integer",
            "format": "int32",
            "description": "Decimal places a withdrawal amount is truncated to.",
            "minimum": 0
          },
          "withdrawal_enabled": {
            "type": "boolean",
            "description": "Whether withdrawals are accepted."
          },
          "withdrawal_fee": {
            "$ref": "#/components/schemas/Amount"
          },
          "withdrawal_fee_asset": {
            "type": "string",
            "description": "Asset the withdrawal fee is charged in."
          }
        }
      },
      "AssetResponse": {
        "type": "object",
        "description": "A tradable asset.",
        "required": [
          "symbol",
          "name",
          "decimals",
          "display_decimals",
          "trading_enabled",
          "usd_price",
          "usd_price_updated_at",
          "usd_price_stale",
          "max_price_age_secs",
          "networks"
        ],
        "properties": {
          "decimals": {
            "type": "integer",
            "format": "int32",
            "description": "Accounting precision: the decimal places the exchange records internally.\n\nUse this for arithmetic. For rendering, use `display_decimals`.",
            "minimum": 0
          },
          "display_decimals": {
            "type": "integer",
            "format": "int32",
            "description": "Decimal places to show in a user interface.\n\nAlways less than or equal to `decimals`. Rounding for display is presentation only and must never be fed back into a request.",
            "minimum": 0
          },
          "icon_key": {
            "type": "string",
            "description": "Identifier for a client-bundled icon, when no logo URL is set.",
            "nullable": true
          },
          "logo_url": {
            "type": "string",
            "description": "Logo URL, when the operator has configured one.",
            "nullable": true
          },
          "max_price_age_secs": {
            "type": "integer",
            "format": "int64",
            "description": "How old this asset's price may be before it is refused, in seconds.\n\nThe global default unless an operator set an override for this asset. Exposed beside the flag because the flag alone cannot explain itself: an asset that is not stale after a week and one that is not stale after an hour look identical without it.",
            "minimum": 0
          },
          "name": {
            "type": "string",
            "description": "Display name."
          },
          "networks": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AssetNetworkResponse"
            },
            "description": "Networks this asset can be deposited to or withdrawn from."
          },
          "notice": {
            "type": "string",
            "description": "Operator note, e.g. why deposits are paused.",
            "nullable": true
          },
          "symbol": {
            "type": "string",
            "description": "Uppercase ticker.",
            "example": "BTC"
          },
          "trading_enabled": {
            "type": "boolean",
            "description": "Whether the asset may appear in markets."
          },
          "usd_price": {
            "$ref": "#/components/schemas/Amount"
          },
          "usd_price_stale": {
            "type": "boolean",
            "description": "Whether that price is too old to compute with.\n\nWhen true, the exchange refuses to derive anything from it: daily limits and auto-approval fail closed rather than guess, and a stored USD value is recorded as absent rather than as a confident wrong figure."
          },
          "usd_price_updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When that price was last set.\n\nExposed because the price is typed in by an operator and refreshed by nothing \u2014 there is no feed. Without the timestamp a caller cannot tell a price set an hour ago from one set last month, and both look equally authoritative."
          },
          "website_url": {
            "type": "string",
            "description": "Project website.",
            "nullable": true
          }
        }
      },
      "BalanceResponse": {
        "type": "object",
        "description": "A balance in one asset.",
        "required": [
          "asset",
          "available",
          "locked",
          "pending",
          "total",
          "held_incoming",
          "sequence"
        ],
        "properties": {
          "asset": {
            "type": "string",
            "description": "Asset symbol."
          },
          "available": {
            "$ref": "#/components/schemas/Amount"
          },
          "held_incoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/HeldIncomingResponse"
            },
            "description": "Internal transfers to this account still held, soonest released first; empty when none. Their sum is part of `locked`. Shows at most 100."
          },
          "locked": {
            "$ref": "#/components/schemas/Amount"
          },
          "pending": {
            "$ref": "#/components/schemas/Amount"
          },
          "sequence": {
            "type": "integer",
            "format": "int64",
            "description": "This balance's sequence: it rises with every change to it, and `balance.updated` carries the same number as `data.sequence`. Apply an event only if its sequence is greater than the one this snapshot holds. 0 for a balance never touched."
          },
          "total": {
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "CancelAllRequest": {
        "type": "object",
        "description": "Cancels every open order, optionally within one market.",
        "properties": {
          "symbol": {
            "type": "string",
            "description": "Limit the cancellation to one market. Omitted or `null`, every market's open orders are cancelled.",
            "nullable": true
          }
        }
      },
      "CancelAllResponse": {
        "type": "object",
        "description": "What a bulk cancellation achieved.\n\nEvery order the call handled is in exactly one of `cancelled`, `already_closed` and `failed`.",
        "required": [
          "cancelled",
          "already_closed",
          "failed",
          "failures",
          "has_more"
        ],
        "properties": {
          "already_closed": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Orders that closed on their own (filled, rejected, cancelled elsewhere) before this call reached them. Nothing was done to them, and they are not failures."
          },
          "cancelled": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Orders cancelled."
          },
          "failed": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Orders that could not be cancelled in this call. Check `failures` for why, then refresh or call again."
          },
          "failures": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CancelFailureResponse"
            },
            "description": "Why each order in `failed` could not be cancelled."
          },
          "has_more": {
            "type": "boolean",
            "description": "More open orders exist than one call handles (500). Call again."
          }
        }
      },
      "CancelFailureResponse": {
        "type": "object",
        "description": "Why one order could not be cancelled.",
        "required": [
          "order_id",
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code of the attempt, as in any error response: e.g. `INVALID_STATE` for an order still being placed when the wait ran out, or `MARKET_UNAVAILABLE`."
          },
          "message": {
            "type": "string",
            "description": "Its message."
          },
          "order_id": {
            "type": "string",
            "description": "The order."
          }
        }
      },
      "CandleInterval": {
        "type": "string",
        "description": "Candle/kline intervals for market data.",
        "enum": [
          "1m",
          "5m",
          "15m",
          "30m",
          "1h",
          "4h",
          "1d",
          "1w"
        ]
      },
      "CandleResponse": {
        "type": "object",
        "description": "An OHLCV bucket.",
        "required": [
          "open_time",
          "open",
          "high",
          "low",
          "close",
          "volume",
          "quote_volume",
          "trade_count"
        ],
        "properties": {
          "close": {
            "$ref": "#/components/schemas/Amount"
          },
          "high": {
            "$ref": "#/components/schemas/Amount"
          },
          "low": {
            "$ref": "#/components/schemas/Amount"
          },
          "open": {
            "$ref": "#/components/schemas/Amount"
          },
          "open_time": {
            "type": "string",
            "format": "date-time",
            "description": "Bucket start."
          },
          "quote_volume": {
            "$ref": "#/components/schemas/Amount"
          },
          "trade_count": {
            "type": "integer",
            "format": "int64",
            "description": "Number of trades.",
            "minimum": 0
          },
          "volume": {
            "$ref": "#/components/schemas/Amount"
          }
        }
      },
      "DepositAddressResponse": {
        "type": "object",
        "description": "A deposit address.",
        "required": [
          "asset",
          "network",
          "address",
          "deposit_confirmations",
          "min_deposit",
          "created_at"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "The address to send to."
          },
          "asset": {
            "type": "string",
            "description": "Asset symbol."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the address was issued."
          },
          "deposit_confirmations": {
            "type": "integer",
            "format": "int32",
            "description": "Confirmations before the deposit is credited.",
            "minimum": 0
          },
          "memo": {
            "type": "string",
            "description": "Memo / destination tag. **Required when present** \u2014 a deposit without it may be unrecoverable.",
            "nullable": true
          },
          "memo_label": {
            "type": "string",
            "description": "What to call the memo field in a UI.",
            "nullable": true
          },
          "min_deposit": {
            "$ref": "#/components/schemas/Amount"
          },
          "network": {
            "type": "string",
            "description": "Network code."
          }
        }
      },
      "DepositId": {
        "type": "string",
        "description": "Unique identifier of a deposit.",
        "example": "507f1f77bcf86cd799439011",
        "maxLength": 24,
        "minLength": 24,
        "pattern": "^[0-9a-fA-F]{24}$"
      },
      "DepositResponse": {
        "type": "object",
        "description": "A deposit.",
        "required": [
          "id",
          "asset",
          "network",
          "amount",
          "status",
          "txid",
          "output_index",
          "confirmations",
          "required_confirmations",
          "address",
          "first_seen_at"
        ],
        "properties": {
          "address": {
            "type": "string",
            "description": "Address that received it."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "asset": {
            "type": "string",
            "description": "Asset symbol."
          },
          "confirmations": {
            "type": "integer",
            "format": "int32",
            "description": "Confirmations observed.",
            "minimum": 0
          },
          "credited_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it was credited.",
            "nullable": true
          },
          "explorer_url": {
            "type": "string",
            "description": "Explorer link, when the network has one configured.",
            "nullable": true
          },
          "first_seen_at": {
            "type": "string",
            "format": "date-time",
            "description": "When it was first observed."
          },
          "id": {
            "type": "string",
            "description": "Deposit id."
          },
          "memo": {
[...]
